<div id="grid-container">
    <div id="grid">
        {{#cells}}
            <div class="cell-row">
            {{#.}}<div class="grid-cell"></div>{{/.}}
            </div>
        {{/cells}}
    </div>
</div>